{% extends "base.html" %}
{% block content %}
    <table class="table table-striped">

        {% if message_list %}
            <tr>
                <th>Sent</th>
                <th>Subject</th>
                <th>Body</th>
            </tr>
            {% for message in message_list %}

                <tr>
                    <td>{{ message.dateSent }}</td>
                    <td>{{ message.subject }}</td>
                    <td>{{ message.body }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>No messages found</td>
            </tr>
        {% endif %}
    </table>
{% endblock %}